<div class="placehold">
  <h2>基本信息</h2>

  <label for="project">选择项目</label>
  <select name="project"
          ng-model="selectedOption.project"
          ng-options="project for project in projects">
    <option value="">-- 请选择 --</option>
  </select>

  <label for="category">选择文件类型</label>
  <select name="category"
          ng-model="selectedOption.docType"
          ng-options="type for type in docTypes">
    <option value="">-- 请选择 --</option>
  </select>

  <label for="subCategory">选择子文件类型</label>
  <select name="subCategory"
          ng-model="selectedOption.subDoc"
          ng-options="subDoc for subDoc in subDocTypes[selectedOption.project][selectedOption.docType]">
    <option value="">-- 请选择 --</option>
  </select require>

  <div>
    {{selectedOption}}
  </div>

</div>
