<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>文档服务</title>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>

  <h1>文档服务 <span id="h1-version">(rev 0.1)</span></h1>

    <form action="GET">

      <h2> 填写基本信息 </h2>

      <div class="selection_group">
        <label for="main_project">选择项目</label>
        <select id="project_selection" name="main_project">
          <option value="cpr1000">CPR1000</option> 
          <option value="yj56">阳江56</option> 
          <option value="hyh56">红沿河56</option> 
          <option value="tw56">田湾56</option> 
          <option value="fcg34">防城港34</option> 
        </select>
        <br>
      </div>

      <div id="selection_group">

        <label for="document_category">选择文件类型</label>
        <select id="document_selection" name="document_category">
          <option value="prompt">请选择</option> 
          <option value="ied">IED文件</option> 
          <option value="cin">CIN</option> 
          <option value="sw_cd">软件(光盘)送测</option> 
          <option value="internal">部门文件</option> 
          <!-- TODO -->
          <!-- <option value="iics">IICS</option>  -->
        </select>

        <label for="sub_document">选择子文件类型</label>
        <select id="sub_document_selection" name="sub_document">
          <option value="">--请先选择文件类型--</option> 
        </select>
        <br>
      </div>


      <h2> 填写文件内容 </h2>
      <!-- contents in will be inserted by  -->
      <!-- ./frontend/js/content-specify.js -->
      <div id="document_content"></div>


      <br>

      <button name="button">生成</button>
    </form>

  <script src="frontend/js/content-specify.js"></script>
</body>
</html>
