<!-- iedOptions -->
<option value="arrangement">机柜安装图</option>
<option value="assemble">装配接线表</option>
<option value="config">算法组态</option>
<option value="fd">功能图</option>
<option value="io_list">IO List</option>
<option value="layout">机柜布置图</option>
<option value="setpoint">设定值清单</option>
<option value="terminal">端子接线表</option>
<option value="wd">接线图</option>

<!-- iedOptions.min -->
<option value="arrangement">机柜安装图</option> <option value="assemble">装配接线表</option> <option value="config">算法组态</option> <option value="fd">功能图</option> <option value="io_list">IO List</option> <option value="layout">机柜布置图</option> <option value="setpoint">设定值清单</option> <option value="terminal">端子接线表</option> <option value="wd">接线图</option>


<!-- cpr1000ProjectOptions -->
<option value="yj-1" class="cpr1000">YJ-1</option>
<option value="yj-2" class="cpr1000">YJ-2</option>
<option value="yj-3" class="cpr1000">YJ-3</option>
<option value="yj-4" class="cpr1000">YJ-4</option>
<option value="hyh-3" class="cpr1000">HYH-3</option>
<option value="hyh-4" class="cpr1000">HYH-4</option>
<option value="fcg-1" class="cpr1000">FCG-1</option>
<option value="fcg-2" class="cpr1000">FCG-2</option>
<option value="nd-3" class="cpr1000">ND-3</option>
<option value="nd-4" class="cpr1000">ND-4</option>


<!-- cpr1000ProjectOptions.min -->
<!-- deprecated on 2016-11-30 -->
<!-- <option value="yj-1" class="cpr1000">YJ-1</option> <option value="yj-2" class="cpr1000">YJ-2</option> <option value="yj-3" class="cpr1000">YJ-3</option> <option value="yj-4" class="cpr1000">YJ-4</option> <option value="hyh-3" class="cpr1000">HYH-3</option> <option value="hyh-4" class="cpr1000">HYH-4</option> <option value="fcg-1" class="cpr1000">FCG-1</option> <option value="fcg-2" class="cpr1000">FCG-2</option> <option value="nd-3" class="cpr1000">ND-3</option> <option value="nd-4" class="cpr1000">ND-4</option> -->


<!-- yj56ProjectOptions -->
<option value="yj-5">YJ-5</option> <option value="yj-6">YJ-6</option>

<!-- hyh56ProjectOptions -->
<option value="hyh-5">HYH-5</option> <option value="hyh-6">HYH-6</option>




<!-- tw56ProjectOptions -->
<option value="tw-56">TW-5</option> <option value="tw-56">TW-6</option>



<!-- fcg34ProjectOptions -->
<option value="fcg-3" class="fcg34">FCG-3</option> <option value="fcg-4" class="fcg34">FCG-4</option>
